@charset "UTF-8";

@charset "UTF-8";

/* 상세 페이지에서 추가된 css들 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 스크롤 따라다니게 하기------------------- */
.buy-box {
	width: 410px;
}

.buy-box-area {
	position: sticky;
	top: 0px; /* 도달했을때 고정시킬 위치 */
	padding: 5px;
	border: 1px solid black;
	z-index: 10;
	height:900px;
	width: 410px;
}

/* 네비게이션 바------------------- */
#menu-nav {
	width: 850px;
	position: relative;
}

#menu-nav::after {
	content: "";
	position: absolute;
	height: 3px;
	background-color: #37cbe9;
	bottom: 0;
    left: 0;
}

.tabnav > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
}

.tabnav li {
	display: inline-block;
	text-align:center;
	border-right:1px solid #000000;
	padding: 8px 30px;
	
}

.tabnav li a {
	display: flex;
	color: black;
	padding: 20px;
	text-decoration: none;
}

.tabnav li a:hover:not(.active) {
	background-color: lightgrey;
}

.list-bar {
	width:850px;
  	position: sticky;
	top: 0px; /* 도달했을때 고정시킬 위치 */
	padding: 5px;
	border: 3px solid black;
	height:90px;
	/* margin-bottom: 20px; */
	text-algin: center;
	background-color: green;
}

/* 아코디언---------------------------- */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
/* ---------------------------------- */
.item-overview {
	width:600px;
}

#cart-button {
	background-color:grey;
	width:190px;
	height: 50px;
	margin-top: 10px;
}

#buy-button {
	background-color:#37cbe9; 
	width:190px; 
	color:white;
	height: 50px;
	margin-top: 10px;
}

.minus-button, .plus-button {
	width:35px;
}

.buy-info-area {
	background-color: #f8f8f8;
	height:750px;
}

.button-area {
	height: 80px;
}

.item-name {
	font-size: 12px;
}

.total-price {
	width:380px;
}

#price-sum, #real-price {
	text-align: right;
}

/* 상세 페이지에서 추가된 css들 끝*/

/* carousel 위치 ------------------------------ */
.carousel {
	overflow: hidden;
	width: 100%;
}

.carousel-inner {
    /* display: flex; */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

..carousel-item {
    margin: 0 auto; /* Set left and right margins to auto */
    display: inline-block; /* Ensure each item behaves as a block element */
}

/* image size ------------------------------ */
.icon-img {
	height: 25px;
}

.banner-img {
	height: 500px;
	width: 100%;
}

.carousel-control-prev {
	left:-50px;
}

.carousel-control-next {
	right:-50px;
}

/* best item ------------------------------- */
.card {
	padding: 10px;
	margin: 0 10px;
}

.card-wrapper {
	padding: 10px;
	margin: 0 10px;
    max-width: 900px;
}

.best-item-card {
	width:17rem;
}
/* review ---------------------------------- */


div [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	transition: 0.5s;
	cursor: pointer;
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}

.card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710
}

.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
	height: 80px;
}
/* ------------------------------------------ */

/* review-card------------------------------- */
.riview-card {
	width:200px;
	margin-right:10px;
}

/* tabnav li--------------------------------- */




/* footer ----------------------------------- */
.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    padding-right: 100px;
    
  } 
  .location{
    i{font-size: 18px;}
    padding-left: 100px;
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}