@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 상세 페이지에서 추가된 css들 */

/* .product-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} */

.product-section {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img_box {
	width: calc(50% - 20px);
	font-size: 0;
	margin-right: 20px;
}

.item-overview {
	width: calc(50% - 20px);
}

@media (max-width: 600px) {
    .img_box, .item-overview {
        width: calc(100% - 20px);
    }
}

.sub-rep-img img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.rep_img_box {
	height: 75%;
	box-sizing: border-box;
}

.rep_img {
	width: 80%;
	heigth: 300px;
}

.sub-rep-img {
	height: 20%;
	box-sizing: border-box;
}

.info-name div {
	margin: 2px;
	width: 150px;
}

.info-value div {
	margin: 2px;
	width: 400px;
	
}

.delivery-name div {
	margin: 2px;
	width: 150px;
}

.delivery-value div {
	margin: 2px;
	width: 400px;
}


/* 스크롤 따라다니게 하기------------------- */
.buy-box {
	width: 410px;
}

.buy-box-area {
	position: sticky;
	top: 0px; /* 도달했을때 고정시킬 위치 */
	padding: 5px;
	z-index: 1000;
	height:900px;
	width: 410px;
}

/* 네비게이션 바------------------- */
#menu-nav {
	width: 850px;
	position: relative;
	z-index: 1000;
	height: 50;
}

#menu-nav li.active {
    border-bottom: 4px solid #37cbe9;
}

#menu-nav::after {
	content: "";
	position: absolute;
	height: 3px;
	background-color: #37cbe9;
	bottom: 0;
    left: 0;
}

/* .tabnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 75px;
}
 */
.tabnav li {
	display: inline-block;
	text-align:center;
	border-right: 1px solid #000000;
	padding: 8px 30px;
	
}

.tabnav li a {
	display: flex;
	color: black;
	padding: 20px;
	text-decoration: none;
}

/* .tabnav li a:hover:not(.active) {
	background-color: lightgrey;
} */

.list-bar {
	width:850px;
  	position: sticky;
	top: 0px; /* 도달했을때 고정시킬 위치 */
	padding: 5px;
	height:70px;
	/* margin-bottom: 20px; */
	text-algin: center;
	background-color: white;
}

#menu-nav ul {
	height: 100%;
} 

#menu-nav ul li {
	height: 100%;
} 

/* ---------------------------------- */

#cart-button1 {
	background-color:white;
	width:45%;
	height: 70%;
	margin-top: 10px;
	margin-right: 5px;
	color: #37cbe9;
	border: 1px solid #37cbe9;
	border-radius: 0;
	display: inline;
}

#buy-button1 {
	background-color:#37cbe9; 
	width:45%;
	height: 70%;
	color:white;
	margin-top: 10px;
	border: none;
	border-radius: 0;
	display: inline;
}

#cart-button2 {
	background-color:white;
	width:190px;
	height: 50px;
	margin-top: 10px;
	margin-right: 5px;
	color: #37cbe9;
	border: 1px solid #37cbe9;
}


#buy-button2 {
	background-color:#37cbe9; 
	width:190px; 
	color:white;
	height: 50px;
	margin-top: 10px;
	border: none;
}

.minus-button, .plus-button {
	width:30px;
	height:30px;
	border: 1px solid grey;
	border-radius: 50%;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	line-height: 0px;
}

.buy-info-area {
	background-color: #f8f8f8;
	height:750px;
}

.item-info {
	width: 100%;
	height: 85%;
}

.button-area1 {
	right: 0;
	bottom: 0;
	width:100%;
	height: 15%;
}

.button-area2 {
	height: 80px;
}

.item-name {
	font-size: 14px;
}

.count-button {
	margin-top: 3px;
}

.total-price {
	width:380px;
}

#price-sum, #real-price {
	text-align: right;
}

/* 상세 페이지에서 추가된 css들 끝*/

/* carousel 위치 ------------------------------ */
.carousel {
	overflow: hidden;
	width: 100%;
}

.carousel-inner {
    /* display: flex; */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

..carousel-item {
    margin: 0 auto; /* Set left and right margins to auto */
    display: inline-block; /* Ensure each item behaves as a block element */
}

/* image size ------------------------------ */
.icon-img {
	height: 25px;
}

.banner-img {
	height: 500px;
	width: 100%;
}

.carousel-control-prev {
	left:-80px;
}

.carousel-control-next {
	right:-20px;
}

/* best item ------------------------------- */
.card {
	padding: 10px;
	margin: 0 15px;
}

.card-wrapper {
	padding: 10px;
	margin: 0 10px;
    max-width: 1080px;
}

.best-item-card {
	width:17rem;
}
/* review ---------------------------------- */


div [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	transition: 0.5s;
	cursor: pointer;
	z-index: 10;
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}

.card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710
}

.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
	height: 80px;
}
/* ------------------------------------------ */

/* review-card------------------------------- */
.review-card {
	width:200px;
	margin-right:10px;
}

/* tabnav li--------------------------------- */




/* footer ----------------------------------- */
.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    padding-right: 100px;
    
  } 
  .location{
    i{font-size: 18px;}
    padding-left: 100px;
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}