@charset "UTF-8";

/* image size ------------------------------ */
.icon-img {
	height: 25px;
}

.banner-img {
	height: 500px;
	width: 100%;
}

.carousel-control-prev {
	left:-50px;
}

.carousel-control-next {
	right:-130px;
}

/* best item ------------------------------- */
.card {
	padding=0;
}

.card-wrapper {
	
}

.best-item-card {
	width:17rem;
}
/* review ---------------------------------- */
img {
}

div [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	transition: 0.5s;
	cursor: pointer;
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}

.card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710
}

.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
	height: 80px;
}
/* ------------------------------------------ */
/* footer ----------------------------------- */
.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    padding-right: 100px;
    
  } 
  .location{
    i{font-size: 18px;}
    padding-left: 100px;
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}