@charset "UTF-8";

/* image size ------------------------------ */
#userIcon, #cartIcon {
	height: 40px;
	width: 100%;
}

#bannerImg1, #bannerImg2, #bannerImg3 {
	height: 500px;
	width: 100%;
}

#storyImg1, #storyImg2 {
	height: 400px;
	width: 100%;
}

/* best item ------------------------------- */
.card {
	padding=0;
}

.card-wrapper {
	
}

#bestItemImg1, #bestItemImg2, #bestItemImg3,
#bestItemImg4, #bestItemImg5, #bestItemImg6,
#bestItemImg7 {
	
}

/* review ---------------------------------- */
img {
}

div [class^="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}

.card {
	transition: 0.5s;
	cursor: pointer;
}

.card-title {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
}

.card-title i {
	font-size: 15px;
	transition: 1s;
	cursor: pointer;
	color: #ffa710
}

.card-title i:hover {
	transform: scale(1.25) rotate(100deg);
	color: #18d4ca;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
	height: 80px;
}

.card::before, .card::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale3d(0, 0, 1);
	transition: transform .3s ease-out 0s;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	pointer-events: none;
}

.card::before {
	transform-origin: left top;
}

.card::after {
	transform-origin: right bottom;
}

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after
	{
	transform: scale3d(1, 1, 1);
}

/* ------------------------------------------ */
/* footer ----------------------------------- */
.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    padding-right: 100px;
    
  } 
  .location{
    i{font-size: 18px;}
    padding-left: 100px;
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}