@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.headingArea {
    position: relative;
    padding: 22px 0 0;
    margin: 0 0 20px;
}

.headingArea .title {
    border-bottom: 2px solid #2a3954;
}

#itemTitle {
	font-weight: 700;
    font-size: 1.6rem;
}

.news {
	box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    display: block;
    unicode-bidi: isolate;
}

table {
	display: table;
	text-indent: initial;
    unicode-bidi: isolate;
    border-color: gray;
	
	border-top: 2px solid #171717;
    border-bottom: 1px solid #171717;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.view {
	border-bottom-color: #b5b5b5;
    margin-bottom: 30px;
}

.news>table.view>thead>tr>th:nth-child(1) {
    padding-left: 200px;
    text-align: left;
}

.news>table.view>thead>tr>th {
    height: 68px;
    background: #F4F3F3;
    color: #000;
    font-size: 18px;
}

.news>table.view>tbody>tr>td {
    padding: 35px 200px;
    border-color: #b5b5b5;
    color: #333;
    line-height: 1.8;
    text-align: left;
}

.news>table>tbody>tr:first-child>td {
    border-top: 1px solid #d9d9d9;
    background-color: #fff;
}

.news>table>thead>tr>th, .news>table>tbody>tr>td {
    height: 60px;
}

.news table tbody tr td {
    text-align: center;
}

.th-sub {
	font-size: 14px;
	margin:0;
	padding:0;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

th, td {
    word-break: break-all;
}
td, th {
    padding: 0;
}

/* button ---------------------------*/
.btn_big_wrap {
    line-height: normal;
    font-size: 14px;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
   margin-top: 60px;
}

.btn_list{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    flex: 0 0 200px;
    background-color: white;
    border: 1px solid black;
}

.btn_update {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 500;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: black;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    flex: 0 0 200px;
    margin-left: 10px;
}

