@charset "UTF-8";

/* font ------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

.element {
	box-sizing: border-box;
}

.btn_detail {
	text-decoration: none;
	color: black;
	margin-left: 30px;
}

.btn_detail:hover {
	text-decoration: underline;
}

#goToorderDetail {
	text-decoration: none;
	color: black;
}

#goToorderDetail:hover {
	text-decoration: underline;
}

#goItem:hover {
	text-decoration: underline;
}

.my_menu {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_depth01 {
	display: inline-block;
	height: 50px;
	text-decoration-line: none;
	color:black;
	width:13rem;
	box-sizing: border-box;
	line-height: 50px;
}

.menu_depth02 {
	padding: 30px 20px; 
	list-style:none; 
	width:13rem;
	background-color: #FAFAFA;
}

ul.menu_depth02 a {
	width:100%;
	text-decoration-line: none; 
	color: #999999; 
	font-size: 14px;
}

#claim, #review, #inquiryItem {
	margin-top: 20px;
}

.cs_area {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.ico_list {
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
}

.ico_cs02 {
    line-height: normal;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("${pageContext.request.contextPath}/resources/image/icon/mail.png");
}


.ico_cs02 span {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.ico_cs03 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(../../images/uiux/icon/ico_kakao.png) no-repeat 0 0/ contain;
    background-image: url(../../images/uiux/icon/ico_1de1.png);
}

.ico_cs03 span {
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.img_box {
	line-height: normal;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-bottom: 0;
    background-color: white;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 700;
    cursor: default;
    text-decoration-line: none; 
	color: #B1B1B1; 
}

#spanNknm {
    line-height: normal;
    font-weight: 500;
    font-size: 28px;
    box-sizing: border-box;
    color: white;
}

.profile {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.profile_wrap {
	background-color: black;
	padding: 30px 40px;
}

.user_info {
	padding-left: 20px;
}

.date {
	color: white;
}

.tit_area {
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    padding: 0;
    align-items: flex-end;
    font-size: 22px;
    margin: 0;
    justify-content: flex-start;
}

.s_tit {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    margin-left: 5px;
}

.cs_number {
    line-height: normal;
    font-size: 22px;
    box-sizing: border-box;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin: auto 0;
}

.txt_l {
    font-weight: bold;
    box-sizing: border-box;
    margin: auto 0;
    margin-left: 5px;
    font-size: 18px;
    color: #999;
}

.txt_time {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.txt_break {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    font-size: 13px;
    color: #999;
    font-weight: 400;
}

.grayline_box {	
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #b1b1b1;
}

.my_order {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: inline-flex;
    width: calc(100% - 220px);
    border: none;
    padding: 30px 0;
}

.my_order .step {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    flex: 1;
    text-align: center;
}

.my_order .step .count {
    line-height: normal;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    color: #b1b1b1;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #b1b1b1;
}

.my_order .step .status {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-top: 15px;
}

.my_order_box {
	
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 20px 0;
    background: #fafafa;
    border-left: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    width: 220px;
    gap: 10px;
}

.my_order_box .step {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.my_order_box .step .status {
    line-height: normal;
    font-size: 14px;
    list-style: none;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
}

.my_order_box .step .count {
    line-height: normal;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #b1b1b1;
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 700;
}

.no_data {
    line-height: normal;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    color: #b1b1b1;
    text-align: center;
    padding: 60px 0;
    font-size: 16px;
}

/* 주문 조회 테이블 -------------------- */
.order-table {
	color: #000;
    border: 0;
    vertical-align: top;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border-spacing: 0;
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid #000000;
}

.order-table thead tr {
	color: #000;
    border-spacing: 0;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

.order-table thead tr th {
	color: #000;
    line-height: 1.5;
    border-collapse: collapse;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border-spacing: 0;
    height: 52px;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    vertical-align: middle;
    font-weight: normal;
}

.ordtable-tbody {
	color: #000;
    border-spacing: 0;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

.ordtable-tbody tr {
    color: #000;
    border-spacing: 0;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}

.ordtable-tbody tr td {
    color: #000;
    line-height: 1.5;
    font-size: 14px;
    border-collapse: collapse;
    border: 0;
    background: transparent;
    margin: 0;
    outline: none;
    border-spacing: 0;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}

.n-prd-row {
	color: #000;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    border: 0;
    vertical-align: top;
    background: transparent;
    padding: 0;
    outline: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 96px;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin: 10px 0;
}
.img-block {
	border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: inherit;
    position: relative;
    overflow: hidden;
    display: table-cell;
    width: 80px;
    padding-top: 96px;
    vertical-align: middle;
}

.n-prd-row img {
	border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    font-size: 14px;
    text-align: left;
    color: inherit;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    line-height: 0;
    vertical-align: top;
    width: 80px;
    height: 96px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info {
	color: #000;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
    width: 100%;
}

.info a {
	text-decoration: none;
	color: black;
}

.brand {
	color: #000;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    list-style: none;
    border: 0;
    vertical-align: top;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name {
	border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    list-style: none;
    border: 0;
    vertical-align: top;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    max-height: 44px;
    font-weight: bold;
    overflow: hidden;
}

.n-btn {
	border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    text-transform: none;
    outline: none;
    -webkit-appearance: none;
    background: none;
    color: #ffffff;
    box-sizing: border-box;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: border 0.2s, background 0.2s ease-in-out;
    vertical-align: middle;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    border: 1px solid #000000;
    background-color: #000000;
    display: block;
    min-width: 90px;
    margin: 4px auto;
    white-space: nowrap;
    width: 65px;
}