@charset "UTF-8";

/* font ------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

.element {
	box-sizing: border-box;
}

.my_menu {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_depth01 {
	display: inline-block;
	height: 50px;
	text-decoration-line: none;
	color:black;
	width:13rem;
	box-sizing: border-box;
	line-height: 50px;
}

.menu_depth02 {
	padding: 30px 20px; 
	list-style:none; 
	width:13rem;
	background-color: #FAFAFA;
}

ul.menu_depth02 a {
	width:100%;
	text-decoration-line: none; 
	color: #999999; 
	font-size: 14px;
}

#claim, #review {
	margin-top: 20px;
}

.cs_area {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.ico_list {
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
}

.ico_cs02 {
    line-height: normal;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("${pageContext.request.contextPath}/resources/image/icon/mail.png");
}


.ico_cs02 span {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.ico_cs03 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(../../images/uiux/icon/ico_kakao.png) no-repeat 0 0/ contain;
    background-image: url(../../images/uiux/icon/ico_1de1.png);
}

.ico_cs03 span {
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}