@charset "UTF-8";

/* font ------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}

.element {
	box-sizing: border-box;
}

.my_menu {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_depth01 {
	display: inline-block;
	height: 50px;
	text-decoration-line: none;
	color:black;
	width:13rem;
	box-sizing: border-box;
	line-height: 50px;
}

.menu_depth02 {
	padding: 30px 20px; 
	list-style:none; 
	width:13rem;
	background-color: #FAFAFA;
}

ul.menu_depth02 a {
	width:100%;
	text-decoration-line: none; 
	color: #999999; 
	font-size: 14px;
}

#update {
	border-right: 4px solid #37cbe9;
}

#update a {
	color: #37cbe9;
}

#claim, #review, #inquiryItem {
	margin-top: 20px;
}

.cs_area {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.ico_list {
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
}

.ico_cs02 {
    line-height: normal;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("${pageContext.request.contextPath}/resources/image/icon/mail.png");
}


.ico_cs02 span {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.ico_cs03 {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(../../images/uiux/icon/ico_kakao.png) no-repeat 0 0/ contain;
    background-image: url(../../images/uiux/icon/ico_1de1.png);
}

.ico_cs03 span {
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-indent: -1000px;
}

.content {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 60px 30px 0 30px;
    padding-top: 0;
    flex: 1;
    min-width: 980px;
}

.tit_area {
    line-height: normal;
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: flex-end;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}

.tit_lv2 {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.29;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.section_block1, .section_block2 {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.form_table {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid black;
}

.form_table .tr {
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}

.tr .th {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    display: table-cell;
    padding: 20px 0;
    vertical-align: top;
    align-items: center;
    width: 160px;
}

.form_label {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.tr .td {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table-cell;
    padding: 20px 0;
    vertical-align: top;
    flex: 1;
    margin: 0;
    margin-left: 30px;
}

.input_clear {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    width: 240px;
}

.section_block1 .input_clear input {
    width: 100%;
    height: 48px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.5s;
    vertical-align: middle;
    padding: 0 40px 0 15px;
    background: #f2f2f2;
    -webkit-text-fill-color: #999;
    border-color: #ccc;
    color: #999;
    appearance: none;
}

.section_block1 .white {
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    padding: 0 30px;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid black;
}

.form_set {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
}

.profile_wrap {
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background: white;
}

.profile_attach {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.img_box {
    line-height: normal;
    border-collapse: collapse;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding-bottom: 0;
    border-radius: 50%;
    background: #F2F2F2;
    color: #b1b1b1;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

#defaultImg {
    line-height: normal;
    border-collapse: collapse;
    cursor: pointer;
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profile_edit {
    line-height: normal;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.tit {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sub {
    line-height: normal;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-left: 2px;
    color: #999999;
}

.button_set {
    line-height: normal;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 16px;
    justify-content: flex-start;
}

.btn_sub_m {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
    min-width: 105px;
    height: 38px;
    border-radius: 3px;
    padding: 0 30px;
    line-height: 38px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    background: white;
}

#inputFileImage1-2 {
    margin-left: 10px;
    width: 100%;
    height: 48px;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    transition: all 0.5s;
    vertical-align: middle;
    display: none;
}

.section_block2 .input_clear {
    color: var(--txt-color);
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#nknm {
    width: 100%;
    height: 48px;
    font-size: 14px;
    border: 1px solid black;
    background: white;
    border-radius: 3px;
    transition: all 0.5s;
    vertical-align: middle;
    padding: 0 40px 0 15px;
}

.clear_btn {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: var(--txt-color);
    vertical-align: middle;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1px;
    width: 40px;
    background: white;
    border-radius: 2px;
    height: 45px;
    top: 2px;
}

.blind {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.has_address {
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.no_data {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
    color: #999999;
    padding: 0;
    text-align: left;
}

.has_address button {
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 30px;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid black;
}
.btncont {
	display:flex;
    justify-content: flex-end;
}

.btn_big_wrap {
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 60px;
}

.btn_cancle{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    flex: 0 0 200px;
    background-color: white;
    border: 1px solid black;
}

.btn_submit {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 500;
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 16px;
    background-color: black;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    flex: 0 0 200px;
    margin-left: 10px;
}

/* Modal ì°½ -------------------------- */
#modalOpenButton1, #modalOpenButton2 {
    vertical-align: middle;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid black;
}

#modalOpenButton3 {
    text-decoration: underline;
    color: black;
    margin-top: 20px;
    background-color: white;
    font-weight:700;
    border: none;
}

#modalCloseButton {
	cursor: pointer;
	vertical-align: middle;
    background: transparent;
    cursor: pointer;
    padding: 0 30px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
}

#modalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

#modalContent {
	position: absolute;
	background-color: #ffffff;
	width: 300px;
	height: 150px;
	padding: 15px;
}

#modalContainer.hidden {
	display: none;
}

#changePasswordButton, 
#changePhoneButton, 
#modalSubmitButton {
	cursor: pointer;
	vertical-align: middle;
    background: transparent;
    cursor: pointer;
    padding: 0 30px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: black;
    border: 1px solid black;
    text-align: center; 
    color: white;
    justify-content: center;
}